<%= form_for(@election, :html => {:multipart => true}) do |f| %>
  <% if @election.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@election.errors.count, "error") %> prohibited this election from being saved:</h2>

      <ul>
      <% @election.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= collection_select(:election, :type_id, Type.all, :id, :value) %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= collection_select(:election, :status_id, Status.all, :id, :value) %>
  </div>
  <div class="field">
    <%= f.label :lock %><br />
    <%= f.check_box :lock %>
  </div>
  <div class="field">
    <%= f.label :details_upload, "Details File" %><br />
    <%= f.file_field :details_upload %>
  </div>
  <div class="field">
    <%= f.label :summary_upload, "Summary File" %><br />
    <%= f.file_field :summary_upload %>
  </div>
  <div class="actions">
    <%= f.submit form_button_text %>
  </div>
<% end %>
