<% provide(:title, 'All Elections') %>

<div class="row"><div class="span10 offset1"><h2>Election List</h2></div></div>

<div class="row"><div class="span10 offset1">
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Status</th>
  </tr>

<% @elections.each do |election| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="first"><%= link_to election.title, election %></td>
    <td class="int"><%= election.date.strftime("%B %-d, %Y") %></td>
    <td class="last"><%= election.status.value %></td>
  </tr>
<% end %>
</table>
</div>
</div>

<br />

<%= link_to 'New Election', new_election_path %>
