<% provide(:title, @election.title) %>

<div class="row">
  <div class="span10 offset1">
    <div id="election-heading">
      <div class="navbar">
        <%= link_to 'Election List', elections_path %> |
        <%= link_to 'Edit', edit_election_path(@election) %>
      </div>
      <h2 id="election-title">
        <%= @election.title %>
      </h2>

      <p id="election-date">
        <%= @election.date.strftime("%A %B #{@election.date.day.ordinalize}, %Y") %>
      </p>

      <p id="election-status">
        <b>Status:</b>
        <%= @election.status.value %>
      </p>
    </div>

    <% @election.races.each do |race| %>
      <div class="race-entry">
        <div class="race-heading" onclick="location.href='<%= elections_path %>';"  style="cursor:pointer;">
          <table><tr>
              <td><h3><%= race.name %></h3></td>
              <td class="reporting"><%= race.cache_precincts_reporting %> precincts reporting</td>
          </tr></table>
        </div>
        <table class="race-table table table-condensed table-striped">
          <tr><thead><th>Candidate</th><th>Votes</th></tr></thead>
          <tr></tr>
          <% race.candidates.each do |candidate| %>
          <tr><td class="name-data"><div class="name"><%= candidate.name %></div><div class="party party-<%= candidate.party %>"><%= candidate.party %></div></td><td class="votes"><%= candidate.cache_votes %></td></tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>