<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class ="container">
    <div class="row">
      <div class="span10 offset1">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      </div>
    </div>


    <%= yield %>
  </div>
  <% if Rails.env.development? %>
    <br /><br /><br />
    <%= debug(params) %>
  <% end %>
</body>
</html>
